
.close-button {
    position: absolute;
    display: flex;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--color-white-txt);
    cursor: pointer;
    transition: fill 250ms var(--cubic-b);

    &-thumb {
        display: block;
    }

    &:hover,
    &:focus {
        fill: var(--color-blue);
    }
}
.field-box {
    padding: 40px;
}
.field-thumb {
    position: relative;
    margin-bottom: 10px;
}
.form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    color: var(--color-text-secondary);
    text-align: center;
    margin-bottom: 12px;
}
.form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    margin-bottom: 4px;
}
.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 48px;
    outline: none;
    transition: border-color 250ms var(--cubic-b);
}
.form-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    transition: fill 250ms var(--cubic-b);
}
.form-input:focus {
    border-color: var(--color-blue);
}
.form-input:focus + .form-icon {
    fill: var(--color-blue);
}
.form-textarea {
    display: block;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    resize: none;
    padding-top: 12px;
    padding-left: 16px;
    margin-bottom: 20px;
    transition: border-color 250ms var(--cubic-b);
}
.form-textarea:focus {
    border-color: var(--color-blue);
}
.form-textarea::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.terms-box {
    display: flex;
    align-items: stretch;
    margin-bottom: 20px;
}
.link-terms {
    color: var(--color-blue);
}
.form-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: background-color 250ms var(--cubic-b);
}
.form-btn:hover {
    background-color: var(--color-btn-focus);
}
.checkbox-label {
    padding-left: 38px;
}
.checkbox-field {
    appearance: none;
}
.terms-icon {
    position: absolute;
    left: 52px;
    fill: var(--color-white-txt);
    border: 2px solid var(--color-text-secondary);
    border-radius: 4px;
    pointer-events: none;
    transform: scale(0.9);
    transition: border-color 250ms var(--cubic-b), background-color 250ms var(--cubic-b), transform 250ms var(--cubic-b);
}
.checkbox-field:checked + .terms-icon {
    border-color: var(--color-blue);
    background-color: var(--color-blue);
    fill: var(--color-white-txt);
    transform: scale(1);
}