.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white-txt);

    transform: translateX(-100%);
    transition: transform 250ms var(--cubic-b);

    overflow-y: scroll;
    &__flex {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    &__box {
        display: flex;

    }
    &__button {
        display: block;
        border: none;
        background-color: var(--color-white-txt);
        margin-top: 10px;
        margin-left: auto;
        &:hover,
        &:focus {
            fill: var(--color-blue);
        }
    }
    &__nav {
        list-style: none;
        margin-bottom: auto;
    }
    &__item {  
        
        &:not(:last-child) {
        margin-bottom: 32px;
        }
    }
    &__item--social {
        padding: 0 10px;
        margin: 0;
            &:not(:last-child) {
                margin: 0;
                border-right: 1px solid rgba(33, 33, 33, 0.2);    
            }
            &:first-child {
                padding-left: 0;
            }
        }
    &__link {
        display: block;

        font-weight: 500;
        font-size: 30px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        
        text-decoration: none;
        color: var(--color-text-secondary);
        @media screen and (min-width: 480px) {
            font-size: 40px;
        }
        &:hover,
        &:focus {
            color: var(--color-blue);
        }
        
    }
    &__link--current {
        color: var(--color-blue);
    }
    &__link--phone {
        color: var(--color-blue);
        font-size: 30px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        @media screen and (min-width: 480px) {
            font-size: 34px;
        }
        &:hover,
        &:focus {
            color: var(--color-blue);
        }

    }
    &__link--email {
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: var(--color-text-primar);
        &:hover,
        &:focus {
            color: var(--color-blue);
        }

    }
    &__link--social {
        margin: 0;
        color: var(--color-blue);
        font-size: 13px;
        line-height: 1.2;
        @media screen and (min-width: 480px) {
            font-size: 18px;
        }
        
    }
    &__contact {
        list-style: none;
        margin-bottom: 64px;
    }
    &__social {
        display: flex;
        list-style: none;
        margin-bottom: 48px;
    }
    &.is-open {
        display: block;
        transform: translateX(0);
    }
}
