:root {
    --color-blue: #2196F3; 
    --color-btn-focus: #188CE8;
    --color-text-header: #000000;
    --color-text-primary: #757575;
    --color-text-secondary: #212121; 
    --color-bcg-head-foot: #2F303A;
    --color-social-icon: #AFB1B8;
    --icon-bcg-color: #F5F4FA;
    --color-white-txt: #FFFFFF;
    --color-sect-worker: #F5F4FA;
    --color-border: #ECECEC;
    --color-desciption: #EEEEEE;
    --join-icon: #FFFFFF1A;
    --portfolio-desc-bckgr: rgba(33, 150, 243, 0.9);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --cubic-b: cubic-bezier(0.4, 0, 0.2, 1);


}