.example {
    padding-bottom: 94px;

    &__title {
        color: var(--color-text-secondary);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
    }
    &__list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 30px;
    }
    &__item {
        position: relative;
    }
    &__description {
        position: absolute;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 100%;
        height: 70px;
        
        margin: 0;
        
        left: 0;
        bottom: 0;
    
        color: var(--color-white-txt);
        background-color: rgba(47, 48, 58, 0.8);
    
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
}



